attached_assets/Diversia Chatbot_1755337253206.json
{
  "name": "Diversia Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/diversia-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        -16
      ],
      "id": "147d5e0d-17bd-4df4-99e4-b004eb234a82",
      "name": "Webhook",
      "webhookId": "9ce397c7-bd6c-4a8f-ac2c-231c13b45cfa"
    },
    {
      "parameters": {
        "jsCode": "// Código para procesar el mensaje\nconst mensaje = $input.first().json.body.message || '';\nconst usuario = $input.first().json.body.user_id || 'visitante';\n\nlet respuesta = '';\nlet intent = 'general';\n\n// Detectar intención\nif (mensaje.toLowerCase().includes('registro')) {\n  intent = 'registro';\n  respuesta = '¡Perfecto! ¿Eres una persona neurodivergente buscando empleo o una empresa que quiere contratar talento diverso?';\n} else if (mensaje.toLowerCase().includes('tdah')) {\n  intent = 'tdah';\n  respuesta = 'TDAH es una neurodivergencia que apoyamos. Tenemos formularios especializados y tests gamificados. ¿Quieres registrarte?';\n} else if (mensaje.toLowerCase().includes('tea') || mensaje.toLowerCase().includes('autismo')) {\n  intent = 'tea';\n  respuesta = 'Para TEA ofrecemos evaluaciones adaptadas y matching con empresas inclusivas. ¿Necesitas más información?';\n} else if (mensaje.toLowerCase().includes('dislexia')) {\n  intent = 'dislexia';\n  respuesta = 'Tenemos tests especializados para dislexia y conexión con asociaciones como DISFAM. ¿Te interesa?';\n} else if (mensaje.toLowerCase().includes('trabajo') || mensaje.toLowerCase().includes('empleo')) {\n  intent = 'empleo';\n  respuesta = 'Nuestro sistema de matching conecta candidatos con ofertas compatibles. ¿Cuál es tu experiencia?';\n} else {\n  respuesta = '¡Hola! Soy el asistente de DiversIA. Puedo ayudarte con registro, información sobre TDAH/TEA/Dislexia, o búsqueda de empleo. ¿En qué te ayudo?';\n}\n\nreturn {\n  respuesta: respuesta,\n  intent: intent,\n  usuario: usuario,\n  mensaje_original: mensaje\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -16
      ],
      "id": "fbf8f2df-2384-4824-941d-5cbf8a23f82d",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://tu-dominio.replit.app/api/v1/user-insights",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -16
      ],
      "id": "d599270f-7fb4-4c85-bc21-afd0361fc375",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const respuestaBase = $input.first().json.respuesta;\nconst intent = $input.first().json.intent;\n\n// Intentar obtener estadísticas (si el HTTP Request funcionó)\nlet stats = '';\ntry {\n  const insights = $input.last().json.insights;\n  if (insights && intent === 'registro') {\n    stats = `\\n\\n📊 Actualmente tenemos ${insights.total_users} profesionales registrados.`;\n  }\n} catch (e) {\n  // Ignorar si no hay datos\n}\n\nreturn {\n  response: respuestaBase + stats,\n  final_response: respuestaBase + stats\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -16
      ],
      "id": "d907e17e-108a-43db-8ca8-0486c1e56eb5",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b550ba52-841b-465e-8e25-7ba1e9558c6c",
  "meta": {
    "instanceId": "90beb3bfb49152518e294af9372828f8f4442b0f76928d800726116c8f9d2abf"
  },
  "id": "63W24AaaBZ1WNdC1",
  "tags": []
}